
/**
 * Global CSS
 *
 * _HTML_Entities
 * _Bootstrap
 * _Header
 * _Footer
 * _Content
 * _Utility
 *
 */
 
 
 // Variables
 
 $primary-color: #b3282d;  //Dark Red
 $table-odd:  #baece7;  // Super soft teal


/**
 * _HTML_Entities
 */

a, .btn {  
  -webkit-transition: color .3s ease, background-color .3s ease, opacity .3s ease, border-color .3s ease;
  -moz-transition: color .3s ease, background-color .3s ease, opacity .3s ease, border-color .3s ease;
  -o-transition: color .3s ease, background-color .3s ease, opacity .3s ease, border-color .3s ease;
  transition: color .3s ease, background-color .3s ease, opacity .3s ease, border-color .3s ease;
}

body, html {
  height: 100%;
}

body {
  color: #231f20;
  font-family: titillium-regular;
  font-size: 18px;
  line-height: 22px;
}

dd {
  margin-bottom: 10px;
}

form {
  margin: 0 0 10px;
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
}

form ul li:first-child {
  margin-top: 0;
}

form ul li label {
  cursor: pointer;
  line-height: 34px;
  margin: 0 10px 0 0;
}

h1, h2, h3 {
  font-family: titillium-semibold;
}

h1 {
  margin: 30px 0 20px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], select {
  height: 34px;
  line-height: 34px;
  padding: 0 6px;
}


input[type="text"], input[type="email"], input[type="number"], input[type="password"], select, textarea {
  border: 1px solid #ddd;
  -webkit-transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;
  -moz-transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;
  -ms-transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;
  outline: none;
  margin: 0;
  width: 100%;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(66, 139, 202, 0.8);
  border-color: rgba(66, 139, 202, 0.8);
  outline: none;
}

input[type="text"].error, input[type="email"].error, input[type="number"].error, input[type="password"].error, select.error, textarea.error,
input[type="text"].unmatch:focus, input[type="email"].unmatch:focus, input[type="number"].unmatch:focus, input[type="password"].unmatch:focus, select.unmatch:focus, textarea.unmatch:focus {
  box-shadow: 0 0 5px #a60000;
  border-color: red;
}

input[type="text"].match:focus, input[type="email"].match:focus, input[type="number"].match:focus, input[type="password"].match:focus, select.match:focus, textarea.match:focus {
  box-shadow: 0 0 5px #00cc00;
  border-color: green;
}

input[type="checkbox"] {
  margin: 0;
  position: relative;
  top: 1px;
}

legend {
  display: block;
  padding-top: 10px;
  padding-bottom: 3px;
}

select option[default] {
  color: #ccc;
}

textarea {
  padding: 6px;
  line-height: 20px;
}

thead {
  background: $primary-color;
  color: #fff;
  font-family: titillium-bold;
}

th:focus, td:focus {
  outline: none;
}

/**
 * _Bootstrap
 */

/* Alerts */

.alert {
  margin: 10px;
}

.alert-success {
  background-color: #eee;
  color: #231f20;
}

/* Container

.container {
  width: 960px;
} */

/* Navbar */

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
}

.navbar-default .navbar-nav > li > a {
  min-height: 52px;
}

ul.nav li.text {
  padding: 15px;
}

/* Pagination */

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: default;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: $primary-color;
}

.pagination a {
  border: 1px solid #ddd !important;
}

/**
 * _Header
 */

#header {}

#header .header {
  min-height: 101px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#header a.logo {
  display: block;
  float: left;
}

#header a.logo img {
  max-width: 100%;
}

#header .countdown {
  float: right;
  height: 60px;
  margin-top: 21px;
  min-width: 490px;
  text-align: center;
}

#header .countdown .intro {
  float: left;
  padding-top: 1px;
}

#header .countdown .line {
  display: block;
}

#header .countdown .line.top {
  font-size: 20px;
  line-height: 24px;
}

#header .countdown .line.bottom {
  font-family: titillium-bold;
  font-size: 25px;
  line-height: 30px;
}

#header .countdown ul {
  float: right;
  list-style: none;
  margin: -12px 0 0;
  padding: 0;
}

#header .countdown ul li {
  float: left;
  margin: 0 22px 0 0;
  padding: 0;
}

#header .countdown ul li:last-child {
  margin-right: 0;
}

#header .countdown ul li.days {}
#header .countdown ul li.hours {}
#header .countdown ul li.minutes {}

#header .countdown ul li .key,
#header .countdown ul li .val {
  display: block;
}

#header .countdown ul li .key {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

#header .countdown ul li .val {
  font-family: titillium-bold;
  font-size: 58px;
  line-height: 58px;
}

/* Header Responsiveness */

@media all and (max-width: 568px) {
  #header a.logo {
    float: none;
  }
  #header .countdown {
    float: none;
    height: 74px;
    margin: 10px auto;
    min-width: 0;
    width: 240px;
  }
  #header .countdown .intro {
    display: none;
  }
  #header .countdown ul {
    float: none;
    margin: 0 auto;
  }
}

/**
 * _Footer
 */

#footer {
  background-color: $primary-color;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
}

#page-wrap {
  min-height: 100%;  
  margin-bottom: -40px; /* equal to footer height */
}

#page-wrap:after {
  content: '';
  display: block;
}

#footer, #page-wrap:after {
  min-height: 40px; /* .push must be the same height as footer */
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer ul li {
  margin: 0;
  padding: 0;
}

#footer ul li a {
  color: #eee;
}

#footer ul li:first-child {
  float: left;
}

#footer ul li:first-child a.arrow {
  padding-left: 12px;
  position: relative;
}

#footer ul li:first-child a.arrow:before {
  border-top: 4px solid transparent;
  border-right: 6px solid #eee;
  border-bottom: 4px solid transparent;
  content: '';
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 6px;
  width: 0;
}

#footer ul li:last-child {
  float: right;
}

@media all and (max-width: 568px) {
  #footer {
    line-height: 24px;
    padding: 6px 0;
  }
  #footer ul li:first-child, #footer ul li:last-child {
    float: none;
  }
}

/**
 * _Content
 */

div.content {
  padding-bottom: 80px;
}

div.content h1 a {
  border: 0;
  color: $primary-color;
}

div.content h1 a:hover {
  color: #b9d233;
}

div.content a {
  border-bottom: 1px dashed $primary-color;
  color: #231f20;
  text-decoration: none;
}

div.content a:hover {
  color: $primary-color;
}

@media all and (min-width: 768px) {
  .row.wide {
    margin-right: -25px;
    margin-left: -25px;
  }
  .row.wide [class*="col-"] {
    padding-right: 25px;
    padding-left: 25px;
  }
}

/**
 * _Generic
 */

.center { text-align: center }

/* Actions (Big Buttons) */

div.actions {
  margin: 60px 0 0;
  text-align: center;
}

div.actions a.sub {
  display: inline-block;
  margin-top: 10px;
}

/* AddThis Overrides */

div.addthis_toolbox a {
  border: 0;
}

/* Banner Image (Home) */

img.banner {
  background: rgba(0, 0, 0, 0.2);
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

/* Banner Background (Sub) */

div.banner {
  background-image: url(/loveweek/images/banner-sub.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 40px;
  min-height: 180px;
}

div.banner h1 {
  color: #fff;
  font-size: 44px;
  line-height: 50px;
  margin: 0;
  padding: 40px 0;
  text-transform: capitalize;
}

/* Button */

div.content .btn-custom {
  background: transparent;
  border: 3px solid $primary-color;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: $primary-color;
  font-size: 36px;
  line-height: 36px;
  padding: 14px 10px 20px;
  width: 100%;
}

div.content .btn-custom:hover {
  /*background: rgba(0, 0, 0, 0.05);*/
  background-color: $primary-color;
  /*border-color: #b9d233;*/
  color: #fff;
}

@media all and (max-width: 568px) {
  div.content .btn-custom {
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 18px;
  }
}

/* Caution Box (Info) */

span.caution {
  background: #b9d233 url(/loveweek/images/alert.png) no-repeat 30px center;
  display: block;
  line-height: 26px;
  margin-top: 30px;
  min-height: 112px; /* height of background */
  padding: 20px 20px 20px 127px;
}

span.caution strong {
  font-size: 26px;
}

span.caution span.desc {
  display: block;
  font-size: 20px;
}

/* Datepicker */

#ui-datepicker-div {
  font-size: 12px;
}

/* Font Tweaks */

td.title {
  text-transform: capitalize;
}

/* Forms */

form.generic {
  margin-top: 14px;
}

form.manage {
  margin-top: 22px;
}

@media all and (min-width: 768px) {
  div.search .button {
    padding-left: 0;
  }
}

@media all and (min-width: 768px) {
  li.double .row { margin-left: -3px; margin-right: -3px; }
  li.double .row [class*="col-"] { padding-left: 3px; padding-right: 3px; }
}

@media all and (max-width: 767px) {
  li.double .row [class*="col-"]:first-child { margin-bottom: 6px; }
}

form.filter legend {
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 5px;
  padding: 0 0 5px;
}

form.filter ul li label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
}

/* General Responsive */

@media all and (max-width: 767px) {
  fieldset.mobile-spacing {
    margin-top: 16px;
  }
  label.tight-mobile {
    line-height: 22px;
  }
}

/* Info DL */

div.info {
  margin-bottom: 50px;
}

@media all and (max-width: 768px) {
  dl.info {
    margin-top: 30px;
  }
}

/* Input in Table */

td.input {
  padding-top: 4px !important;
  padding-bottom: 0 !important;
}

td.input input {
  max-width: 50px;
}

/* Note */

legend a.note {
  border: 0;
  font-size: 14px;
  left: 2px;
  line-height: 14px;
  position: relative;
  top: -1px;
}

/* Search */

div.search {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  div.search .field {
    margin-bottom: 8px;
  }
}

/* Tables */

.table-sort th {
  cursor: pointer;
  position: relative;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color:  $table-odd;
}

.tablesorter-headerDesc:after, .tablesorter-headerAsc:after {
  border-top: 6px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 5px solid transparent;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  left: -10px;
  width: 0;
}

.tablesorter-headerDesc:after {
  border-top-color: rgba(255, 255, 255, 0.9);
  top: 18px;
}

.tablesorter-headerAsc:after {
  border-bottom-color: rgba(255, 255, 255, 0.9);
  top: 11px;
}

/* (Edit | Del) */

td.actions a {
  border-right: 1px solid #ddd;
  display: block;
  float: left;
  margin-right: 6px;
  padding-right: 6px;
}

td.actions a:last-of-type {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

td.actions a.del {
  color: #a60000;
}


/**
 * _Utility
 */


/* Clearfix */

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}